<div class="heighthome100">
    <div class="topsectionheight">
        <mat-toolbar class="position-fixed">
            <div class="dvwdth">
                <span>Dashboard >> {{ userinfo?.firstname }}</span>
                <span *ngIf="userinfo?.firstname" (click)="logout($event)" class="icnend">
                    <mat-icon>input</mat-icon>
                </span>
                <span *ngIf="!userinfo?.firstname" class="icnend">
                    <span><button mat-raised-button (click)="gotoLogin()">
                            Login
                        </button></span>
                </span>
            </div>
        </mat-toolbar>
    </div>

    <div class="maincss">
        <mat-horizontal-stepper>
            <mat-step>
                <form>
                    <ng-template matStepLabel>All Topics</ng-template>
                    <div *ngIf = "!allTopicsList?.length">
                        <img src="assets\no-data-to-show.png" />
                    </div>

                    <div *ngIf = "allTopicsList?.length">
                        <mat-card class="example-card" *ngFor="let record of allTopicsList">
                            <mat-card-header>
                                <div class="dspFlxSpaceEven dvwdth">
                                <mat-card-title>Topic : {{record?.topic}}</mat-card-title>
                                <span> CreatedBy: {{record?.userId.firstname}}</span>
                                </div>
                              </mat-card-header>
                              <mat-card-content>
                                <p >
                                 Description : {{record?.description}}
                                </p>
                              </mat-card-content>
                            <mat-card-actions>
                                <div class="dspFlxstart">
                                <mat-icon (click)="enableCommentsfxn($event,record)" class="mousepoint">
                                    message
                                </mat-icon>
                                <span (click)="enableCommentsfxn($event,record)" class="mousepoint">Comments</span>
                                </div>
                               <div *ngIf="record?.isOpen">
                               <div>
                                <form [formGroup]="replyForm" class="dvwdth" (ngSubmit)="replyTopic($event,record._id)">
                                    <div class="dspFlxSpaceEven dvwdth">
                                    <mat-form-field appearance="outline" class="width60perc">
                                        <mat-label>Comment</mat-label>
                                        <input matInput placeholder="type here to comment" formControlName="replyControl" />
                                        <mat-error *ngIf="replyControls?.replyControl?.errors">
                                            <span *ngIf="replyControls?.replyControl?.errors?.required">
                                                reply is Required !!!
                                            </span>
                                        </mat-error>
                                    </mat-form-field> 
                                    <span class="marginTop15px"><button type="submit" class="clrbtn fitHeight" mat-button>comment</button></span>
                                </div>
                                </form>
                               </div>

                               <div *ngIf="allComments?.length">
                                   <mat-card *ngFor = "let eachcomment of this.allComments">
                                    <mat-card-header>
                                        <mat-card-title> commented By :- {{eachcomment?.userId?.firstname}}</mat-card-title>
                                        <mat-card-subtitle>{{eachcomment?.comment}}</mat-card-subtitle>
                                      </mat-card-header>
                                   </mat-card>
                               </div>
                               <div *ngIf="!allComments?.length">
                                <mat-card>
                                 <mat-card-header>
                                     <mat-card-title> No Comments Till the Date !!!</mat-card-title>
                                   </mat-card-header>
                                </mat-card>
                            </div>
                               </div>

                            </mat-card-actions>
                          </mat-card>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="userinfo?.firstname">
                <form [formGroup]="disscussionForm" (ngSubmit)="createTopic($event)">
                    <ng-template matStepLabel>Add Topic</ng-template>
                    <div>
                        <mat-card>
                            <div class="dspFlx dvwdth">
                                <mat-form-field appearance="outline" class="width60perc">
                                    <mat-label>Add Topic</mat-label>
                                    <input matInput placeholder="" formControlName="topicControl" />
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-error *ngIf="formControls?.topicControl?.errors">
                                        <span *ngIf="formControls?.topicControl?.errors?.required">
                                            Topic is Required !!!
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="dspFlx dvwdth">
                                <mat-form-field appearance="outline" class="width60perc">
                                    <mat-label>Add description</mat-label>
                                    <input matInput placeholder="" formControlName="discussionControl" />
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-error *ngIf="formControls?.discussionControl?.errors">
                                        <span *ngIf="formControls?.discussionControl?.errors?.required">
                                            Description is Required !!!
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="dspFlx dvwdth">
                                <button type="submit" mat-raised-button class="clrbtn">Submit</button>
                            </div>
                        </mat-card>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>